* {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
}

nav {
    display: flex;
    height: 5vh;
    width: 100vw;
    background-color: red;
    color: white;
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.photos {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.photo {
    margin: 1rem;
}

.photo img {
    height: 30vh;
    width: 20vw;
    border-radius: 5%;
}

.photo p {
    font-size: .75rem;
}

h2 {
    text-align: center;
    color: cornflowerblue;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    height: 70vh;
    width: 50vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: .5rem;
    border-radius: 2.5%;
}

label {
    font-size: .75rem;
    font-weight: 600;
}

input {
    width: 100%;
    font-size: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 20px;    /* Some padding */
    border: none;   /* Remove border */
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
}

h3 {
    text-align: center;
    font-size: 1rem;
    color: green;
}

.finalAmt {
    margin: auto;
    color: white;
    background-color: green;
    width: 35%;
    border: none;
    border-radius: 5%;
}