* {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    color: wheat;
}
h1 {
    color: blanchedalmond;
    text-align: center;
}

.hero {
    /* background-color: aquamarine; */
    background-image: url("https://images.pexels.com/photos/1109541/pexels-photo-1109541.jpeg");
    height: 80vh;
    width: 100vw;
    background-size: cover;
    /* background-position: 10vh; */
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}


.hero h3 {
  color: burlywood;
  font-size: 2.5rem;
  /* semi-transparent background for contrast */
  background: rgba(0, 0, 0, 0.5);
  /* background: transparent; */
  padding: 20px 20px;
  border-radius: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}

.cta {
    display: flex;
    width: 100%;
    /* background-color: #156064; */
    background-color: rgba(255, 0, 0, 0.988);
    /* background: rgba(0, 0, 0, 0.3); */
    text-align: center;
    font-weight: 900;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: wheat;
}

.cards h3 {
    display: block;
}

.image {
    height: 500px;
    width: 400px;
}

.contents {
    display: flex;
    flex-direction: row;
}

.description {
    margin: 2.5rem;
    color: wheat;
    font-weight: 500;
}

li {
    margin: 1rem;
}
