* {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.25rem;
}

.main-container {
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    /* centers vertically */
    height: 100vh;
    /* fills viewport height */
    background-image: url("https://images.pexels.com/photos/31742956/pexels-photo-31742956.jpeg");
    background-position: center;
    background-size: cover;
}

.main {
    margin: auto;
    height: 60vh;
    width: 35vw;
    justify-content: center;
    align-items: center;
    background-color: gold;
    padding: 4rem;
    border-radius: 5%;
}

.main h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.main p,
label {
    font-weight: 600;
}

.amount,
.from,
.to,
.ans {
    padding: 1rem;
}

input,
select {
    width: 90%;
    height: 10%;
}

select {
    width: 91.5%;
}